
/*Custom CSS starts from here*/


#header-nav {
    background-color: #A71D31;
    border: 0;
    border-radius: 0;
    height: 150px;
}

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 { /*Aunty's Home*/
    text-transform: uppercase;
    font-family: Caveat Brush;
    color: #F1F0CC;
    font-weight: bold;
    line-height: 0.75;
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 40px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #8D775F;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 10px;
    margin-left: 40px;
}

.navbar-brand p span {
    vertical-align: middle;
    color: #F1F0CC;
}

#nav-list {
    margin-top: 15px;
    margin-right: 10px;
    font-size: 20px;
    font-family: Caveat Brush;
    text-align: center;
}

#logo-img {
    background: url('../svg/si-glyph-house.svg') no-repeat;
    width: 150px;
    height: 130px;
    color: black;
    margin: 0px -20px 0px -50px;
}

#nav-list a {
    color:#FCB37B;
    text-align: center;
}

#nav-list a:hover {
    background: #F1F0CC;
}

#nav-list span {
    font-size: 1.8em;
}

#phone {
    margin-top: 5px;
}

#phone div {
    padding-right: 15px;
    text-align: right;
}

#ad {
    font-family: Ubuntu;
    font-weight: bolder;
}
.looking {
    background-color: #FCB37B;
}

.problem {
    margin-left: -20px;
    margin-top: 30px;
    font-size: 22px;
    padding: 0;
}
.rescueDiv {
   background-color: #A71D31;
    font-family: Caveat Brush;
    color: #F1F0CC;
}

#facilities {
    font-size: 32px;
    text-align: center;
    
}
#facilities li {
    color: #3F0D12;
    font-size: 28px;
    list-style: none;
    margin-right: 80px;
    text-align: left;
    font-family: Ubuntu;
    padding-top: 25px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: bolder;
}
.facilities {
    text-align: center;
    margin-right: 100px;
    font-family: Ubuntu;
    padding-right: 30px;
    font-size: 38px;
}

.icon-electricity {
    background-color: red;
    height: 30px;
}

<!--#FCB37B -> Very Light Tangelo
#A71D31 -> Vivid Burgundy
#3F0D12 -> Dark Sienna
#F1F0CC -> Champagne
#8D775F -> Shadow -->

